<%# -*- encoding : utf-8 -*- %>
<!DOCTYPE html>
<html>
    <head>
        <title>streamer - your own music cloud</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <% if isAdmin? %>
            <a href="/settings" id="settingsLink"><button class="icon-cog" title="settings"></button></a>
        <% end %>
        <section id="media">
            <section id="mediaDBList">
                <div id="mediaDBControls">
                    <a href="/setDB"><button id="setDB" title="set media directory"><span class="icon-folder" alt="media dir" /></button></a>
                    <progress id="indexProgress" value="0"></progress>
                    <button id="updateDB" title="update media database"><span class="icon-loop" alt="refresh" /></button>
                </div>
                <%= erb :mediaDB, :locals => {:mediaDB => mediaDB} %>
            </section>
            <section id="currentMedia">
                
            </section>
        </section>
        <script src="/localforage.js"></script>
        <script src="/player.js" defer></script>
        <script src="/mediaDBControls.js" defer></script>
        <script src="/cache.js" defer></script>
    </body>
</html>
