<%# -*- encoding : utf-8 -*- %>
<!DOCTYPE html>
<html>
    <head>
        <title>streamer - your own music cloud</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/style.css">
        <script src="/snack-min.js"></script>
        <script src="/player.js" defer></script>
        <script src="/mediaDBControls.js" defer></script>
    </head>
    <body>
        <section id="media">
            <section id="mediaDBList">
                <div id="mediaDBControls">
                    <a href="/setDB"><button id="setDB"><img src="/folder.png" alt="media dir" title="set media directory" width="10"/></button></a>
                    <progress id="indexProgress" value="0"></progress>
                    <button id="updateDB"><img src="/refresh.png" width="10"/></button>
                </div>
                <select id="mediaDB" name="mediaDB" multiple>
                    <% mediaDB.each do |artist, albums| %>
                        <optgroup label="<%= artist %>">
                            <% albums.each do |album| %>
                                <option><%= album %></option>
                            <% end %>
                        </optgroup>
                    <% end %>
                </select>
            </section>
            <section id="currentMedia">

            </section>
        </section>
    </body>
</html>
