<%# -*- encoding : utf-8 -*- %>
<!DOCTYPE html>
<html>
    <head>
        <title>streamer - your own music cloud</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <% if firstUse? %>
            1/2
        <% end %>
        <%= render_login_button %>
        <% if authorized? %>
            <p>Logged in as <%= authorized_email %></p>
            <form action="/addAdmin" method="post">
                <button type="submit">Next</button>
            </form>
        <% end %>
    </body>
</html>
