<select id="mediaDB" name="mediaDB" multiple>
    <% mediaDB.each do |artist, albums| %>
        <optgroup label="<%= artist %>" data-searchlabel="<%= artist.downcase %>">
            <% albums.each do |album| %>
                <option><%= album %></option>
            <% end %>
        </optgroup>
    <% end %>
</select>
