<%# -*- encoding : utf-8 -*- %>
<!DOCTYPE html>
<html>
    <head></head>
    <body>
        2/2
        <form action="/setOption" method="post">
            <input type="hidden" name="name" value="mediaDir" />
            <input type="text" name="value" required></input>
            <button type="submit">OK</button>
        </form>
    </body>
</html>
