<%# -*- encoding : utf-8 -*- %>
<!DOCTYPE html>
<html>
    <head>
        <title>streamer - your own music cloud</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <% if emptyMediaDB? %>
            2/2
        <% end %>
        <form action="/setOption" method="post">
            <input type="hidden" name="name" value="mediaDir" />
            <label>Path to media directory: <input type="text" name="value" required value="<%= mediaDir if mediaDir %>"></input></label>
            <button type="submit">OK</button>
        </form>
    </body>
</html>
