html {
    font-family: ubuntu, helvetica, arial, sans-serif;
    font-weight: 400;
    background-color: #333;
    background-image: url('background.png');
    color: white;
}

body {
    padding-left: 2em;
    margin: auto;
    padding-top: 1em;
}

button {
    background-color: rgba(0,0,0,0.4);
    border: 0;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0,0,0,0.6);
}

button:disabled {
    background-color: rgba(161,161,161,0.6);
    cursor: default;
    opacity: 0.8;
}

#media {
    display: -webkit-flex;
    display: flex;
}

#currentMedia {
    margin-left: 5em;
    margin-right: 5em;
    display: inline-block;
    vertical-align: top;
}

#updateDB {
    padding: 0;
    width: 18px;
    height: 18px;
    margin-left: 0.1em;
}

#setDB {
    padding: 0;
    width: 18px;
    height: 18px;
    margin-right: 0.1em;
}

#mediaDB {
    max-height: 700px;
    width: 100%;
    max-width: 300px;
    min-width: 300px;
    height: auto;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    background-color: rgba(0,0,0,0.4);
    color: white;
    border-radius: 5px;
}

#mediaDBList {
    display: inline-block;
}

#mediaDBControls {
    margin-bottom: 0.2em;
    width: 100%;
}

#playlist li.active {
    opacity: 1;
}

#playlist li {
    opacity: 0.8;
}


#playlist {
    background-color: rgba(0,0,0,0.4);
    border-radius: 5px;
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin-bottom: 0.1em;
}

.songName + button {
    margin-left: 0.5em;
}

#indexProgress {
    width: 90%;
    max-width: 250px;
}

.songName:hover {
    cursor: pointer;
    text-decoration: underline;
}

progress,
progress::-webkit-progress-bar {
    background-color: rgba(0,0,0,0.4);
}

progress::-webkit-progress-bar-value,
progress::-webkit-progress-value,
progress::-moz-progress-bar {
    background-color: white;
    -webkit-animation: progress_glow 5s infinite ease;
    animation: progress_glow 5s infinite ease;
}

progress:indeterminate,
progress:indeterminate::-webkit-progress-bar  {
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, white), color-stop(25%, grey), color-stop(50%, black), color-stop(75%, grey), color-stop(100%, white));
    background-size: 3000px 20px;
    -webkit-animation: gradient_pan 5s infinite linear;
    animation: gradient_pan 5s infinite linear;
    
}

@-webkit-keyframes gradient_pan {
    0% { background-position: left bottom; }
    100% { background-position: right bottom; }
}

@-moz-keyframes gradient_pan {
    0% { background-position: left bottom; }
    50% { background-position: right bottom; }
}

@keyframes gradient_pan {
    0% { background-position: left bottom; }
    100% { background-position: right bottom; }
}

@-webkit-keyframes progress_glow {
    0% { background-color: white;}
    50% { background-color: rgba(255,255,255,0.7);}
    100% { background-color: white;}
}

@keyframes progress_glow {
    0% { background-color: white;}
    50% { background-color: rgba(255,255,255,0.7);}
    100% { background-color: white;}
}

#searchBox {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    width: 300px;
    padding: 1em;
    top: 20px;
    right: 40px;
    border-radius: 5px;
}

#lyrics {
    background-color: rgba(0,0,0,0.4);
    height: auto;
    margin-top: 1em;
    margin-left: 2em;
    padding: 0.3em;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    overflow: auto;
    max-height: 350px;
    font-size: 0.9em;
    opacity: 0.8;
    border-radius: 5px;
    white-space: pre;
    word-wrap: break-word;
    max-width: 400px;
}

#mediaDB::-webkit-scrollbar,
#lyrics::-webkit-scrollbar {
    height: 12px;
	width: 12px;
	background-color: rgba(0,0,0,0.4);
}


#mediaDB::-webkit-scrollbar-thumb,
#lyrics::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.2);
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

#mediaDB::-webkit-scrollbar-corner,
#lyrics::-webkit-scrollbar-corner {
    background-color: rgba(0,0,0,0.4);
}

#cover {
    opacity: 0.2;
    position: absolute;
    background-color: black;
    max-width: 400px;
    max-height: 400px;
    height: auto;
    z-index: -1;
}

#submit {
    display: block;
}

#settingsLink {
    display: absolute;
    float: right;
    margin-right: 1em;
}

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.eot?26414672');
    src: url('../font/fontello.eot?26414672#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?26414672') format('woff'),
       url('../font/fontello.ttf?26414672') format('truetype'),
       url('../font/fontello.svg?26414672#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
 
[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    opacity: .8;

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
}

[class^="icon-"]:hover:before, [class*=" icon-"]:hover:before {
    opacity: 1;
}

[class^="icon-"]:active:before, [class*=" icon-"]:active:before {
    opacity: .6;
}
 

.icon-plus:before { content: '\e807'; } /* '' */
.icon-undo:before { content: '\e809'; } /* '' */
.icon-cog:before { content: '\e806'; } /* '' */
.icon-ok:before { content: '\e808'; } /* '' */
.icon-fast-forward:before { content: '\e803'; } /* '' */
.icon-fast-backward:before { content: '\e804'; } /* '' */
.icon-trash:before { content: '\e805'; } /* '' */
.icon-folder-empty:before { content: '\e802'; } /* '' */
.icon-download:before { content: '\e800'; } /* '' */
.icon-loop:before { content: '\e801'; } /* '' */


