html {
    font-family: ubuntu, helvetica, arial, sans-serif;
    font-weight: 400;
    background-color: #333;
    background-image: url('background.png');
    color: white;
}

body {
    padding-left: 2em;
    margin: auto;
    padding-top: 1em;
}

button {
    background-color: rgba(0,0,0,0.4);
    border: 0;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0,0,0,0.6);
}

#media {
    display: -webkit-flex;
    display: flex;
}

#currentMedia {
    margin-left: 1em;
}

#updateDB {
    padding: 0;
    width: 18px;
    height: 18px;
    margin-left: 0.1em;
}

#setDB {
    padding: 0;
    width: 18px;
    height: 18px;
    margin-right: 0.1em;
}

#mediaDB {
    max-height: 700px;
    width: 100%;
    height: auto;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    background-color: rgba(0,0,0,0.4);
    color: white;
}

#mediaDBControls {
    margin-bottom: 0.2em;
    width: 100%;
}

#playlist li.active {
    opacity: 1;
}

#playlist li {
    opacity: 0.8;
}

#playlist li button:first-child {
    margin-left: 0.5em;
}

#indexProgress {
    max-width: 90%;
}

.songName:hover {
    cursor: pointer;
    text-decoration: underline;
}

progress,
progress::-webkit-progress-bar {
    background-color: rgba(0,0,0,0.4);
}

progress::-webkit-progress-bar-value,
progress::-webkit-progress-value,
progress::-moz-progress-bar {
    background-color: white;
}

progress:indeterminate,
progress:indeterminate::-webkit-progress-bar  {
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, white), color-stop(25%, grey), color-stop(50%, black), color-stop(75%, grey), color-stop(100%, white));
    background-size: 2000px 20px;
    -webkit-animation: gradient_pan 5s infinite linear;
    animation: gradient_pan 5s infinite linear;
    
}

@-webkit-keyframes gradient_pan {
    0% { background-position: left bottom; }
    100% { background-position: right bottom; }
}

@-moz-keyframes gradient_pan {
    0% { background-position: left bottom; }
    100% { background-position: right bottom; }
}

@keyframes gradient_pan {
    0% { background-position: left bottom; }
    100% { background-position: right bottom; }
}




