html {
    font-family: ubuntu, helvetica, arial, sans-serif;
    font-weight: 400;
    background-color: white;
    color: #333;
}

body {
    padding-left: 2em;
    margin: auto;
    padding-top: 1em;
}

#media {
    display: -webkit-flex;
    display: flex;
}

#currentMedia {
    margin-left: 1em;
}

#updateDB {
    padding: 0;
    width: 18px;
    height: 18px;
    margin-left: 0.1em;
}

#setDB {
    padding: 0;
    width: 18px;
    height: 18px;
    margin-right: 0.1em;
}

#mediaDB {
    max-height: 700px;
    width: 100%;
    height: auto;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

#mediaDBControls {
    margin-bottom: 0.2em;
    width: 100%;
}

#playlist li.active {
    opacity: 1;
}

#playlist li {
    opacity: 0.8;
}

#indexProgress {
    max-width: 90%;
}



